body {
  margin:0;
  padding:0;
  background-color: #333;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 16px;
}

p {
  color: white;
  /* text-align: center; */
  font-family: Helvetica, Arial, Sans-serif;
  /* line-height: 30px; */
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  /* padding-bottom: 40px; */
  /* border-bottom: solid; */
  /* border-color: darkgrey; */
}

h1 {
  color: orange;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.03em;
}

/* MOBLE NAV LINKS */
h2 {
  text-align:center;
  font-weight: normal;
  letter-spacing: 0.03em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
}

li a {
  display: block;
  color: firebrick;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  /* font-size:30px; */
}

li a:hover:not(.active) {
  transition: color .15s ease-in;
  color: white;
}

.active:hover {
  transition: color .15s ease-in;
  color: white;
}

.active {
  color: Orange;
}

.logo {
    max-width: 400px;
    width: 100%;
    min-width: 250px;
    height: auto;
    /* line-height: 150px; */
  margin-left: 10%;
  margin-right: 13%;
}
nav {
  background-color: black;
  margin: 20px 0 0 0;
  overflow: hidden;

}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  display: block;
  line-height: 3em;
  /* padding: 10px; */
  text-decoration: none;
}

/* Featured stuff under the hero */
#parent{
    margin: auto;
    width:90%;

}
#parent p{
    text-align: left;
    line-height: 1.2;
    font-size: 1.5em;
}
#parent img{
    max-width: 100%;
}
.package img {
  max-width: 100%;
  max-height:600px;
  margin: auto;
  display: block;
}

.package {
  max-width: 100%;
  background: url("hpbox.png") no-repeat,
  linear-gradient(#ea7d30 0%, #d95b2f 25%, #c93a30 50%,#b52432 75%, #ba2432 100%);
  background-position: center;
  background-size: contain;
  margin: 40px auto;
}

/* link color changes */
.mlinks{
  text-decoration: none;
  transition: color .15s ease-in;
  color: #ef4137;
}

.mlinks:hover{
  transition: color .15s ease-in;
  color: White;
}

.amlinks{
  text-decoration: none;
  color: Orange;
}

.amlinks:hover{
  transition: color .15s ease-in;
  color: Orange;
}

.shopproduct{
  max-width: 400px;
}

.productname{
  color: firebrick;
}
/* FORM STYLES */
input[type=text], select, textarea {
 width: 100%;
 padding: 12px;
 border: 2px solid Firebrick;
 border-radius: 6px;
 box-sizing: border-box;
 margin-top: 6px;
 margin-bottom: 16px;
 resize: vertical;

}

input[type=submit] {
 background-color: Firebrick;
 color: white;
 padding: 12px 20px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

input[type=submit]:hover {
 background-color: Orange;
}

form{
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
 color: Firebrick;
 border-radius: 5px;
 background-color: #333;
 padding: 20px;
}

.help {
  color: White;
  font-size: 55px;
  background-color: firebrick;
  margin-bottom:50px;
  padding-top:20px;
  padding-bottom:20px;
}

.column h1{
  color: white;
  font-size: 60px;
}

.row{
  margin-bottom: 115px;
}



footer {
  background-color: firebrick;
  text-align: center;
  line-height: 60px;
  color:white;
  font-family: Helvetica, Arial, Sans-serif;
 margin-top:40px;
  padding: 10px;
}




/* Start Media Query */
@media only screen and (max-width:750px){
  .links {
    visibility: hidden;
  }
  .active {
    visibility: hidden;
  }


  .column img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

  .row iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


}
@media only screen and (min-width:750px){
  .mlinks {
    display: none;
  }
  .amlinks {
    display: none;
  }
  #parent {
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;

  }
  .child {
    width: 50%;
    height: 100%;
    margin-top: 100px;

  }
  p {
    border-bottom: none;
    font-size: 20px;

  }
  .product {
    padding-top: 50px;
    align: center;
    width: 60%;
    min-width: 390px;
    max-width: 390px;
  }
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .shopproduct{
    padding-left: 50px;
  }

  .column h1{
    padding-top: 55px;
  }





}
/* End Media Query */
